.layout {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  width: 100dvw;
  height: 100dvh;
  padding: 30px 12px;
  overflow: hidden;
  justify-content: center;
  background-color: rgb(251, 252, 255);
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.wordly {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-size: 42px;
  
  background: linear-gradient(120deg, rgb(80, 85, 200), rgb(150, 85, 200), rgb(255, 85, 130));
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientAnimation 5s ease infinite;
}

.guess, .current-guess {
  display: flex;
  justify-content: center;
}

.letter {
  width: 60px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  font-size: 32px;
}

.correct {
  background: linear-gradient(120deg, rgb(83, 141, 78), rgb(100, 180, 90)) !important;
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: gradientAnimation 2s ease infinite;
  color: white;
}

.present {
  background: linear-gradient(120deg, rgb(200, 180, 70), rgb(240, 200, 90)) !important;
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: gradientAnimation 2s ease infinite;
  color: white;
}

.absent {
  background-color: rgb(120, 124, 126) !important;
  color: white;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  font-size: 18px;
  color: rgb(55, 55, 55);
}

.keyboard {
  background-color: transparent;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}