.layout {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  width: 100dvw;
  height: 100dvh;
  padding: 40px 12px 45px;
  overflow: hidden;
  justify-content: center;
  background-color: rgb(251, 252, 252);
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.wordly {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-size: 42px;
  
  background: linear-gradient(120deg, rgb(80, 85, 200), rgb(150, 85, 200), rgb(255, 85, 130));
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientAnimation 5s ease infinite;
}

.guess {
  display: flex;
  justify-content: center;
}

.current-guess {
  display: flex;
  justify-content: center;
  padding-top: 12px;
}

.letter {
  width: 60px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  font-size: 32px;
}

.correct {
  background-color: #4caf4fd0 !important;
  color: white;
}

.present {
  background-color: #ffc107db !important;
  color: white;
}

.absent {
  background-color: rgb(120, 124, 126) !important;
  color: white;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  font-size: 18px;
  color: rgb(127, 127, 127); /* Светло-серый текст */
}

.keyboard {
  background-color: transparent;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  .hg-button {
    border-bottom: none;
  }
}

@media (prefers-color-scheme: dark) {
  .layout {
    background-color: rgb(32, 33, 36); /* Темный фон */
  }

  .letter {
    border: 1px solid #555; /* Темные рамки для букв */
    background-color: rgb(43, 44, 47); /* Темный фон для ячеек */
    color: white; /* Белый текст */
  }

  .correct {
    background-color: rgba(56, 142, 60, 0.85); /* Темно-зеленый */
    color: white;
  }

  .present {
    background-color: rgba(255, 193, 7, 0.9); /* Темно-желтый */
    color: white;
  }

  .absent {
    background-color: rgb(97, 97, 97); /* Темный серый для отсутствующих букв */
    color: white;
  }

  .message {
    color: rgb(200, 200, 200); /* Светло-серый текст */
  }

  .keyboard {
    /* background-color: rgb(48, 49, 52); Темный фон клавиатуры */
    color: white;

    .hg-button {
      background-color: rgb(48, 49, 52); /* Темный фон клавиатуры */
    }
  }
}
